@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

*
{
	box-sizing: border-box;
	font-family: inherit;
	padding: 0px;
	margin: 0px;
}

:root
{
	--color: white;
	--page-width: 75%;
}

body
{
	background-image: url("4873.jpg");
		background-position: center;
		background-size: 100%;
	font-family: sans-serif;
	font-size: 14px;
}

main
{
	padding-top: 10px;
}

main > section
{
	padding-bottom: 10px;
	margin: 0px auto;
	width: var(--page-width);
}

main > section:last-child
{
	padding-bottom: 0px;
}

main > section > *
{
	margin-bottom: 5px;
}

main > section > *:last-child
{
	margin-bottom: 0px;
}

.hidden
{
	/*	This rule is used with JavaScript to remove elements from the screen without removing them from the DOM,	*/
	/*	simply by adding the class (or removing it) from the element's classList.  But note, this class will have	*/
	/*	no effect when added to an element that has a CSS rule selected by id or tag and that rule specifies the	*/
	/*	display attribute.   CSS applies rules by how specifically a selector identifies an element...and this is	*/
	/*	pretty generic.  Almost any selector will be more specific.													*/

	display: none;
}

button
{
	--button-color: #7f7fcf;
	--border-radius: 4px;
	background-color: var(--button-color);
	border: 1px solid var(--button-color);
		border-radius: var(--border-radius);
	font-family: sans-serif;
	font-size: 12px;
	padding: var(--border-radius);
		padding-left: 10px;
		padding-right: 10px;
	margin-right: 10px;
}

button:hover
{
	--button-color: white;
	background-color: var(--button-color);
	border-color: var(--button-color);
}

button:last-child
{
	margin-right: 0px;
}

/*	**********************************************************************************************************************	*/
/*	style specific to sticky footer																							*/
/*																															*/

#input-quote
{
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.5);
	height: 50vh;
	resize: none;
	width: 100%;
}

#input-quote.instructions
{
	/*	This rule is used with JavaScript to dynamically apply the background-image to the <textarea>,  simply by	*/
	/*	adding this class to (or removing it from) the <textarea>'s classList.										*/

	/* background-image: url("http://placehold.co/300x150"); */
	background-image: url("textarea.svg");
	    background-position: center;
		background-repeat: no-repeat;
}

/*	**********************************************************************************************************************	*/
/*	style specific to sticky footer																							*/
/*																															*/

body, html
{   height: 100%;
}

.wrapper
{
	height: auto;
	margin-bottom: -50px;
	min-height: 100%;
}

.push
{
	height: 50px;
}

footer
{
	background: black;
	color: white;
	height: 30px;
	margin-top: 20px;
	padding: 10px;
}

footer > div
{
	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	font-family: sans-serif;
	font-size: 10px;
	height: 10px;
	margin: 0px auto;
	width: var(--page-width);
}

footer span
{
	flex-grow: 1;
	flex-shrink: 0;
	text-align: left;
	width: 40%;
}

footer span:last-child
{
	text-align: right;
}


/*	**********************************************************************************************************************	*/
/*	media queries for responsive design																						*/
/*																															*/

@media screen and (max-width: 572px)
{
}